*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  letter-spacing: 0.1em;
  margin: 0 20%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.logo {
  margin-top: 1.5rem;
}

.options {
  display: flex;
  align-items: center;
}

.font-style {
  display: flex;
  align-items: center;
  font-size: 1.65rem;
  font-style: bold;
}
.font-style__icon {
  cursor: pointer;
  padding: 0 2rem;
  border-right: solid rgba(121, 121, 121, 0.4) 0.1rem;
  height: 3rem;
  width: 6rem;
}

.night-mode {
  display: flex;
  align-items: center;
}
.night-mode input {
  margin: 0 2rem;
}

.dropdown-menu {
  opacity: 1;
  position: absolute;
  top: 9%;
  left: 69%;
  background-color: rgb(236, 229, 229);
  border: 1px solid gray;
  border-radius: 6px;
  padding: 8px;
  z-index: 1;
  transition: opacity ease-in-out 1s;
}

.no-menu {
  opacity: 0;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 4px 8px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: rgb(146, 144, 144);
  border-radius: 5px;
  color: white;
}

.search {
  margin: 0 auto;
  margin-top: 5rem;
  justify-content: center;
  width: 95%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.09);
  outline: 0;
  border: none;
  border-radius: 0.4rem;
  padding-left: 1rem;
  padding-right: 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  transition: width ease-in-out 0.6s;
}
.search:focus {
  outline: solid 1px #a445ed;
  width: 100%;
}
.search:focus + .search-icon {
  right: 1.3rem;
}

.search-container {
  display: flex;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 3.7rem;
  top: 75%;
  height: 2.4rem;
  width: 2.4rem;
  transform: translateY(-50%);
  transition: all ease-in-out 0.3s 0.2s;
}

.header {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
}
.header--title {
  text-transform: uppercase;
  font-size: 5rem;
  font-style: italic;
}
.header--sub {
  color: #a445ed;
  font-size: 2.2rem;
  margin-top: 1rem;
}
.header--play svg {
  cursor: pointer;
}

.word--container {
  display: flex;
  flex-direction: column;
}

.divider {
  position: relative;
  align-items: center;
  margin-top: 7rem;
  display: flex;
  width: 100%;
}
.divider p {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bold;
}
.divider span::after {
  position: absolute;
  content: "";
  margin-left: 5%;
  width: 90%;
  height: 0.1rem;
  background: rgba(164, 69, 237, 0.45);
}

.nouns {
  margin-top: 6rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.35);
}
.nouns--list {
  position: relative;
  margin-top: 3rem;
  padding-left: 3rem;
}
.nouns--list ul {
  list-style: none; /* Remove default bullets */
}
.nouns--list ul li::before {
  position: absolute;
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  right: 99%;
  margin-top: 0.5rem;
  border-radius: 50%;
  background-color: #a445ed;
}

ul {
  list-style: disc;
  color: #a445ed;
}

li {
  color: rgb(90, 90, 90);
  padding-top: 1.6rem;
  font-size: 1.7rem;
}

.synonyms {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.synonymsWords {
  margin-left: 1rem;
  padding-left: 2rem;
  font-size: 1.7rem;
  color: #a445ed;
  font-weight: 700;
}

.verb {
  color: black;
}/*# sourceMappingURL=main.css.map */