*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../../public/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../../public/fonts/inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("../../public/fonts/lora/Lora-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("../../public/fonts/lora/Lora-Italic-VariableFont_wght.ttf")
    format("truetype");
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @include respond(big-desk) {
    font-size: 75%;
  }
}

body {
  font-family: sans-serif;
  letter-spacing: 0.1em;
  margin: 0 20%;
  background-color: $light-background;
  color: $light-text;
  transition: all 0.43s ease-in-out;

  @include respond(tab-port) {
    margin: 0 10%;
  }

  @include respond(phone) {
    margin: 0 4%;
  }

  [data-theme="dark"] & {
    background-color: black;
    color: white;
  }
}
