.nouns {
  margin-top: 6rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.35);

  &--list {
    position: relative;
    margin-top: 3rem;
    padding-left: 3rem;

    & ul {
      list-style: none; /* Remove default bullets */
    }

    & ul li::before {
      position: absolute;
      content: "";
      height: 0.7rem;
      width: 0.7rem;
      right: 99%;
      margin-top: 0.5rem;
      border-radius: 50%;
      background-color: #a445ed;
    }
  }
}

ul {
  list-style: disc;
  color: #a445ed;
}

li {
  color: rgb(90, 90, 90);
  padding-top: 1.6rem;
  font-size: 1.7rem;
}

.synonyms {
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

.synonymsWords {
  margin-left: 1rem;
  padding-left: 2rem;
  font-size: 1.7rem;
  color: #a445ed;
  font-weight: 700;
}
