.search {
  margin: 0 auto;
  margin-top: 5rem;
  justify-content: center;
  width: 95%;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.09);
  outline: 0;
  border: none;
  font-family: inherit;
  border-radius: 0.4rem;
  padding-left: 1rem;
  padding-right: 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  transition: width ease-in-out 0.6s;

  &:focus {
    outline: solid 1px #a445ed;
    width: 100%;

    + .search-icon {
      right: 1.3rem;
    }
  }
}

.search-container {
  display: flex;
  position: relative;
}

.search-icon {
  position: absolute;
  right: 3.7rem;
  top: 75%;
  height: 2.4rem;
  width: 2.4rem;
  transform: translateY(-50%);
  transition: all ease-in-out 0.3s 0.2s;
}
