.src {
  display: flex;
  margin: 4rem 4rem;
  @include respond(phone) {
    margin: 4rem 0rem;
  }

  &--p {
    font-style: italic;
  }

  & a {
    margin: 0 2rem;
    @include respond(phone) {
      margin: 0rem 1rem;
    }
  }

  &--src {
    color: #000;
    transition: all 0.43 ease-in-out;
    [data-theme="dark"] & {
      color: #fff;
    }
  }
}
