.src {
  display: flex;
  margin: 4rem 4rem;

  &--p {
    font-style: italic;
  }

  &--src {
    margin-left: 2rem;
    color: #000;
    [data-theme="dark"] & {
      background-color: rgb(34, 34, 34);
      color: #fff;
    }
  }
}
